.image-upload-container {
    width: 90px;
    height: 90px;
    border: 2px dashed #aaa;
    border-radius: 5px;
    display: block;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
}