.interlude-option-container {
    margin-bottom: 1.5rem;
    border: .1rem solid #ccc;
    padding: .3rem;
}

.interlude-option-container:hover {
    border: .1rem solid #996b2c;
}

.interlude-option-header {
    font-weight: bold;
    padding-bottom: .1rem
}